html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

/* Global */
.container {
  max-width: 1920px;
  margin: 50px 75px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  position: relative;
  outline: none;
  text-align: center;
  color: #fff;
}

.flex {
  display: flex;
}

/* header */
.header {
  border-bottom: 1px solid #fff;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
}

.header__container {
  max-width: 1920px;
  padding: 0 75px;
  margin: 0 auto;
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-top: 39px;
  margin-bottom: 39px
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.header__serch {
  margin-left: auto;
  width: 24px;
  height: 24px;
}

.nav__item:not(:last-child) {
  margin-right: 85px;
}

/* hero */
.hero__container {
  border: 1px solid black;
  border-radius: 32px;
}

.hero__content {
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  margin-left: 80px;
  margin-top: 100px;
  margin-bottom: 24px;
}

.hero__descr {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-left: 80px;
  margin-bottom: 90px;
}

.hero__btn {
  background: #FF9900;
  border-radius: 16px;
  padding: 25px 39px;
  margin-left: 80px;
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
}